img{
    width: 300px;
    margin: 25px;
}
.container{
    max-width: 900px;
}
#imagen-principal{
    width: 350px;
}
.creditos a{
    text-decoration: none;
    color:black;
}

.negro{
    color:rgb(27, 209, 237);
    background-color:rgb(114, 113, 114);
}

.blanco{
    color:black;
    background-color:white;
}

.small-letras{
    font-size: 10px;
}

.medium-letras{
    font-size: 15px;
}

.large-letras{
    font-size: 20px;
}

